<%= form_for(@kanten) do |f| %>
  <% if @kanten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kanten.errors.count, "error") %> prohibited this kanten from being saved:</h2>

      <ul>
      <% @kanten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :knoten1_id %><br />
    <%= f.text_field :knoten1_id %>
  </div>
  <div class="field">
    <%= f.label :knoten2_id %><br />
    <%= f.text_field :knoten2_id %>
  </div>
  <div class="field">
    <%= f.label :kantenlaenge %><br />
    <%= f.text_field :kantenlaenge %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
